/* static/style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #eee;
    flex-direction: column;
}

h1 {
    font-weight: 300;
}

#last-message-from {
    color: #b0b0b0;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}


#last-distance {
    color: #e0e0e0; 
    font-size: 1.1em; 
    font-weight: 300;
    margin-top: 0; 
    margin-bottom: 25px;
}
/* --- *** END OF NEW RULE *** --- */

#status-square {
    width: 200px;
    height: 200px;
    background-color: #8b0000;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    transition: background-color 3s ease; 
}